
#carinho_compras{
    position: absolute;
    display: none;
    width: 100%;
    height: 200%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    
}
#carinho_fechar{
    background-color: rgb(149, 200, 216); 
    border-style: none; 
    float: right; 
    position: relative;
    cursor: pointer;
    margin: 1%;
    border-radius: 4px;
    
}
.div_compras{
    position: relative;
    
    width: 100%;
    padding: 01%;
    

}
.div_compras img{
    width: 30%;
}
.carinho_produto{
    display: flex;
    
}
.intem_produto{
    margin-top: 05%;
}
.intem_produto button{
    border-style: none;
    padding: 2%;
    background-color: rgb(149, 200, 216);
    width: 30%;
    margin: auto;
    
}
.compra_produto_detalhes{
    width: 100%;
}
#quantidade_de_produto{
    width: 30%;
}
#preco_total{
    text-align: center;
    margin-top: 1em;
}
#Finalizar{
    padding: 0.5rem;
    border-style: none;
    background-color: rgb(67, 139, 161);
    color: white;
    margin: auto;
}
#finalizar_compra{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width:950px) {
    #carinho_compras{
        width: 50%;
        height: 100vh;
        top: 0;
        left: auto;
        right: 0;
        bottom: 0;
    }
    .div_compras{
        height: 64vh;
        overflow-y: auto;
        background-color: rgba(215, 250, 231, 0.459);

        /*bara de rolagem da divcompras*/

    }        
    .div_compras::-webkit-scrollbar{
            width: 8px;
        }
    ::-webkit-scrollbar-thumb{
        background: rgba(51, 168, 123, 0.473);
    }
    ::-webkit-scrollbar-thumb{
        border-radius: 4px;
    }
    
}
@media screen and (min-width:1024px) {
    .intem_produto button{
        width: 20%;
    }
}

.remover_do_cesto{
    border-radius: 5px;
}

