*{
	font-family: "Poppins", sans-serif;
}
.banner{
	height: 99vh;
	width: 100%;
	background-image: url(./imagens/background.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center ;
	position: relative;
	/*z-index: -1;*/
	overflow: hidden;
}

/*banner text center*/
.banner-text{
	width: 70%;
	display: block;
	position: relative;
	top: 15%;
	text-align: center;
	padding-top: 2%;


	background-color: rgba(59, 59, 59, 0.4);
	margin: 0 auto;
	border-radius: 2px;
}



.banner-text h1{
	
	text-align: center;
	width: 100%;
	font-size: 4vh;
	color: black;
	text-transform: uppercase;
	overflow: hidden;
	border-right: 5px solid #fff;
	white-space: nowrap;
	margin: auto;
	letter-spacing: 5px;
	animation: ani1 3.5s steps(40, end),
	ani2 .75s step-end infinite;
	
}

.banner-text h2{
	color: black;
	font-size: 2vh;
	padding: 15px;
	text-align: center;
	margin: auto;
	width: 100%;
	
}
@media screen and (max-width:565px) {
	.banner-text h1{
		font-size: 4vh;
	}
	.banner-text h2{
		font-size: 2vh;
	}
}
@media screen and (max-width:510px) {
	.banner-text h1{
		font-size: 3vh;
		
	}
	.banner-text h2{
		font-size: 2vh;
	}
	.banner-text{
		width: 85%;
	}
}
@keyframes ani1{
	from{
		width: 0;
	}
	to{
		width: 100%;
	}
}

@keyframes ani2{
	from, to { border-color: transparent }
	50%{border-color: rgb(58, 57, 57)}

}
/*banner text center*/

/*Slide de textos*/

.slide_de_texto{
	display: block;
	position: relative;
	top: 25%;
	width: 95%;
	margin: 0 auto;

}

/* Slideshow container */
.slideshow-container {
	position: relative;
	background: black;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
  }
  
  /* Slides */
  .mySlides {
	display: none;
	padding: 80px;
	text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -30px;
	padding: 16px;
	color: #888;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	position: absolute;
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(27, 27, 27, 0.8);
	color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
	text-align: center;
	padding: 20px;
	background: rgb(0, 0, 0);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
	background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  .slide_de_texto p {font-style: italic; color: white;}
  
/*Slide de textos*/

/*rodapé*/

#rodape{
	background-image: linear-gradient( 120deg, rgb(255, 255, 255), rgba(59, 59, 59, 0.4));
	padding: 02%;

}
#ctticons{
	margin-top: 2%;
 	display: flex;padding: 3%;
}
#ctticons:hover{
	background-image:linear-gradient(120deg, rgba(59, 59, 59, 0.4), rgb(255, 255, 255));
	
}
#ctticons a{
	margin: auto;
}

a{
	text-decoration: none;
	color: black;
}
#sendmail{
	margin: 02%;
}
input[type = email]{
	margin: 3px auto;
	border-style: solid;
	padding: 5px;
	border-radius: 5px;
	border-color: rgb(51, 214, 255);
	
}
input[type = submit]{
	border-style: solid;
	padding: 5px;
	border-radius: 5px;
	border-color:  rgb(51, 214, 255);
}
@media screen and (max-width:355px) {
	input[type = email]{
		width: 75%;	
	}
	input[type = submit]{
		width: 20%;
	}
	
}
@media screen and (max-width:700px ) {
	.cttinfo{
		display: none;
	}
}

#stp_and_copy {
	margin-top: 05rem;
	font-size: 3vmin;	
}
@media screen and (min-width: 470px) {
	#stp_and_copy {
		font-size: 2vmin;	
	}
	
}
/*rodapé*/


