*{
	font-family: "Poppins", sans-serif;
}
.banner{
	height: 100vh;
	width: 100%;
	background-image: url(./imagens/background.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center ;
	position: relative;
	z-index: -1;
	overflow: hidden;
}

/*banner text center*/
.banner-text{
	width: 50%;
	display: block;
	float: none;
	
	position: relative;
	top: 15%;
	text-align: center;
	padding-top: 2%;
}

.banner-text{
	background-color: rgba(59, 59, 59, 0.4);
	margin: auto;
	border-radius: 2px;
	float: left;
	
}

.banner-text h1{
	
	text-align: center;
	width: 100%;
	font-size: 4vh;
	color: black;
	text-transform: uppercase;
	overflow: hidden;
	border-right: 5px solid #fff;
	white-space: nowrap;
	margin: auto;
	letter-spacing: 5px;
	animation: ani1 3.5s steps(40, end),
	ani2 .75s step-end infinite;
	
}

.banner-text h2{
	color: black;
	font-size: 2vh;
	padding: 15px;
	text-align: center;
	margin: auto;
	width: 100%;
	
}
@media screen and (max-width:565px) {
	.banner-text h1{
		font-size: 4vh;
	}
	.banner-text h2{
		font-size: 2vh;
	}
}
@keyframes ani1{
	from{
		width: 0;
	}
	to{
		width: 100%;
	}
}

@keyframes ani2{
	from, to { border-color: transparent }
	50%{border-color: rgb(58, 57, 57)}

}
/*banner text center*/

/*aside de 'impacto social'*/
.aside_impacto{
	
	display: block;
	position: relative;
	top: 15%;
	float: right;
	width: 50%;
	padding: 3%;
	background-color: rgba(255, 255, 255, 0.4);

	text-align: justify;

	
}
@media screen and (max-width: 700px) {
	.aside_impacto{
		display: none;

	}
	.banner-text{
		width: 100%;
	}
}

.aside_impacto p{
	margin-top: 1%;
	
	
	
	
}


/*aside de 'impacto social'*/

/*rodapé*/
#rodape{
	background-image: linear-gradient( 120deg, rgb(255, 255, 255), rgba(230, 255, 255, 0.692));
	padding: 02%;
	
}
#ctticons{
	margin-top: 2%;
 	display: flex;padding: 3%;
}
#ctticons:hover{
	background-image:linear-gradient(120deg, rgb(230, 255, 255), rgb(255, 255, 255));
	
}
#ctticons a{
	margin: auto;
}

a{
	text-decoration: none;
	color: black;
}
#sendmail{
	margin: 02%;
}
input[type = email]{
	margin: 3px auto;
	border-style: solid;
	padding: 5px;
	border-radius: 5px;
	border-color: rgb(51, 214, 255);
	
}
input[type = submit]{
	border-style: solid;
	padding: 5px;
	border-radius: 5px;
	border-color:  rgb(51, 214, 255);
}
@media screen and (max-width:700px ) {
	.cttinfo{
		display: none;
	}
}
/*rodapé*/