
/*nav do carrinho e do perfil*/
#carinho_perfil{
    width: 12%;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:1094px) {
    #carinho_perfil{
        width: 20%;
    }
}
@media screen and (max-width:650px) {
    #carinho_perfil{
        width: 35%;
    }
}
/*fim da nav de compras*/

/*main*/
/*secção sobre*/
#sobre1{
    padding: 1%;
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
#sobre1{
    text-align: justify;
}

/*secção nossa equipa*/
#sobre_nossa_equipa{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    
}
#sobre_nossa_equipa img{
    display: block;
    position: relative;
    width: 50%;
    margin: auto;
}
.nome{
    text-align: center;
    width: 100%;
    margin: auto;
}
@media screen and (min-width:495px) {
    .nome{
        width:50%;
    }
}
@media screen and (min-width:495px) {
    .nome{
        width:30%;
    }
}
/*fim do main*/


/*efeitos*/

/*Efeito paralax*/
.parallax {
    /* A imagem usada */
    background-image: url("./imagens/máquina2.jpg");
  
    /* Selecione um tamanho especifico */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
/*@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }*/