*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
#imagem_de_perfil{
    max-width: 2.5rem;
}
.head{
    
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}
.head_pesquisa, .head_outros{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.ti-menu-alt{
    cursor: pointer;
}
.head_pesquisa{
    width: 70%;
}
.head_pesquisa input{
    width: 80%;
    padding: 0.3rem;
    
}
.head_outros{
    width: 30%;
}
/*____ Menu ____*/
.menu{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #02748171;
}
.menu-content{
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
    color: #ffffff;
    background-color: #027581;
}
@media screen and (max-width:875px) {
    .menu-content{
        width: 45%;
    }
    .menu-content h1{
        font-size: 2rem;
    }

}

.menu-content div{
    margin: 1rem ;
}
.menu-content ul{
    margin-left: 2rem;
    list-style: none;
}
.menu-content li{
    margin: 1.5rem auto;
    cursor: pointer;
    font-size: 1.2em;
}
@media screen and (max-width:875px) {
    .menu-content li{
        font-size: 1em;
    }
}
@media screen and (max-width:480px) {
    .menu-content{
        width: 100%;
    }
    .menu-content h1{
        font-size: 1.5rem;
    }
}
.menu-content div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* Inincio*/

#inicio{
    margin-top: 1rem;
    padding-top: 1rem;
    background-color: #f1f5f9;
    min-height: 90vh;
}
#inicio h2, .dash-cards{
    margin: auto 3rem;
}
#inicio h2{
    margin-bottom: 1rem;
}
.dash-cards{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
     
}
.dash-card-information{
    display: flex;
    flex-flow: row wrap;
    width: 10rem;
    height: 8rem;
    padding: 1rem;
    background-color: #ffffff;

    margin: 1rem auto;
    text-align: center;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

}
.dash-card-information a{
    margin: auto;
    background-color: rgb(236, 239, 243);
    text-decoration: none;
    padding: 0.2rem;
    cursor: pointer;
    color: #027581;
}
.dash-card-information .ti-briefcase, .ti-reload, .ti-check-box{
    display: flex;
    width: 20%;
    float: left;
    align-items: center;
    justify-content: center;
}
.dash-card-information div{
    width: 80%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*Utilizadores*/
#utilizadores{
    display: none;
    min-height: 90vh;
}
#utilizadores div{
    overflow-x: auto;
}
@media screen and (max-width:610px) {
    #utilizadores div{
        width: 90%;
        margin: auto;
        overflow-x: auto;
    }
}
#utilizadores h2{
    margin: 1rem 3rem 2rem 3rem;
}

#utilizadores table {
    border-collapse: collapse;
    width: 91%;
    margin: auto ;
  }
  #utilizadores th {
    background-color: #027581;
    color: white;
  }
  
#utilizadores th, td {
    text-align: left;
    padding: 8px;
  }
  
#utilizadores tr:nth-child(even){background-color: #f2f2f2}

.acoes_utilizadores{
    display: flex;
    justify-content: space-between;
}
.acoes_utilizadores i{
    cursor: pointer;
}
.acoes_utilizadores .ti-trash {
    color: red;
}
  

  /*Produtos*/
#produtos{
    display: none;
    min-height: 90vh;
}
.div_botoes{
    margin: 1rem 3rem 2rem 3rem;
}
.div_botoes button{
    padding: 0.3rem;
    background-color: #ffffff;
    border: 2px solid #027581;
    cursor: pointer;
    border-radius: 5px;
    float: right;
}
#produtos div{
    overflow-x: auto;
}
@media screen and (max-width:610px) {
    #produtos div{
        width: 90%;
        margin: auto;
        overflow-x: auto;
    }
}
#produtos h2{
    margin: 1rem 3rem 2rem 3rem;
}

#produtos table {
    border-collapse: collapse;
    width: 91%;
    margin: auto ;
  }
  #produtos th {
    background-color: #027581;
    color: white;
  }
  
#produtos th, td {
    text-align: left;
    padding: 8px;
  }
#produtos td > img{
    max-width: 3rem;
  }
  
#produtos tr:nth-child(even){background-color: #f2f2f2}

#produtos td > button{
    background-color: #048a99;
    color: #ffffff;

    border: none;
    padding: 0.2rem;
    border-radius: 3px;
    cursor: pointer;
}
#produtos td > button:hover{
    background-color: #05b2c5;
    color: #ffffff;
}
input[type="file"]{
    width: 2rem;
    height: 2rem;
}

#adicionar_produto{
    position: fixed;
    display: none;
    bottom: 3rem;
    right: 1rem;
    width: 30%;
    height: 50%;
    background-color: #05b2c5b6;
    border-radius: 3px;
}
#adicionar_produto{
    padding: 1rem;
}
#adicionar_produto form input[type="file"]{
    display: none;
}
.acoes_produtos{
    font-display: flex;
    justify-content: space-between;
}
.acoes_produtos i{
    cursor: pointer;
    color: red;
}
#adicionar_produto form div{
    display: flex;
    flex-flow: column wrap;
}
#adicionar_produto div input{
    border: none;
    border-bottom: solid ;
    border-radius: 3px;
    color: #ffffff;
}
.ti-upload{
    margin: 0.5rem;
    cursor: pointer;
}
#adicionar_produto div textarea{
    border: none;
    border-radius: 3px;
    text-align: justify;
    margin-top: 0.3rem;
}

#adicionar_produto form button[type="submit"]{
    border: none;
    margin-top: 1rem;
    padding: 0.2rem;
    background-color: #ffffff;
    color: #027581;
    border-radius: 3px;
    cursor: pointer;
}
#adicionar_produto div select{
    background-color: #048a99;
    color: #000000;

    
    border: none;
    border-radius: 3px;
    color: #ffffff;
}
#adicionar_produto .ti-close{
    float: right;
    cursor: pointer;
}

/*EDITAR PRODUTO*/
#editar_produto{
    display: none;
    position: fixed;
    bottom: 3rem;
    right: 1rem;
    width: 30%;
    height: 50%;
    background-color: #05b2c5b6;
    border-radius: 3px;
    padding: 1rem;
}
#editar_produto input[type="file"]{
    display: none;
}
#editar_produto h3{
    text-align: center;
}

#editar_produto form {
    display: flex;
    flex-flow: column wrap;
}
#editar_produto input{
    border: none;
    margin-bottom: 1rem;
    border-radius: 3px;
}
#atualizar_produto-fornecedor{
    margin-bottom: 1rem;
}

#editar_produto textarea{
    border: none;
    border-radius: 3px;
    text-align: justify;
    margin-top: 0.3rem;
}

#editar_produto form button[type="submit"]{
    border: none;
    margin-top: 1rem;
    padding: 0.2rem;
    background-color: #ffffff;
    color: #027581;
    border-radius: 3px;
    cursor: pointer;
}
#editar_produto select{
    background-color: #048a99;
    color: #000000;
    border: none;
    border-radius: 3px;
    color: #ffffff;
}
.fechar_atualizar_produto{
    cursor: pointer;
}


/*Categorias*/

#categorias{
    display: none;
    min-height: 60vh;
}

#categorias h2{
    margin: 1rem 3rem 2rem 3rem;
}

#categorias table {
    border-collapse: collapse;
    width: 91%;
    margin: auto ;
  }
  #categorias th {
    background-color: #027581;
    color: white;

  }
  
#categorias th, td {
    text-align: left;
    padding: 8px;
  }
#categorias td button {
    cursor: pointer;
    background-color: #027581;
    color: #ffffff;

    padding: 0.2rem;
    border-radius: 3px;
    border: none;
  }
#categorias td button:hover {
    background-color: #07a0b1;
    color: #ffffff;
  }
  
#categorias tr:nth-child(even){background-color: #f2f2f2}
  
#categorias form{
    margin: 5rem 3rem auto 3rem;
}

#categorias form button[type="submit"], input{
    padding: 0.2rem;
    color: #000000;
}
#categorias form button[type="submit"]{
    border: none;
    cursor: pointer;
}
#categorias form input[type="text"]{
    color: #ffffff;
    border: none;
    background-color: #027581;
}
  
/*Pedidos*/
#pedidos{
    display: none;
    min-height: 90vh;
    margin: 1rem auto;
}
#pedidos div{
    max-height: 70vh;
    overflow-x: auto;
}
@media screen and (max-width:610px) {
    #pedidos div{
        width: 90%;
        margin: auto;
        overflow-x: auto;
    }
}
#pedidos h2{
    margin: 1rem 3rem 2rem 3rem;
}

#pedidos table {
    border-collapse: collapse;
    width: 91%;
    margin: auto ;
  }
  #pedidos th {
    background-color: #027581;
    color: white;
  }
  
#pedidos th, td {
    text-align: left;
    padding: 8px;
  }
#pedidos td > img{
    max-width: 3rem;
  }
  #pedidos td > select{
    border: none;
  }
#pedidos td > a{
    text-decoration: none;
    color: black;
  }
  
#pedidos tr:nth-child(even){background-color: #f2f2f2}

#pedidos form button{
    background-color: #027581;
    margin: 1rem auto 1rem 2rem;
    padding: 0.2rem;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

#produto_cliente a{
    text-decoration: none;
    background-color: #027581;
    color: #ffffff;
    padding: 0.2em;
    border-radius: 3px;
}
#produto_cliente p, .voltar_tabela_clientes{
    margin: 1rem auto 1rem 2rem;
    
    
}

/* Contactos */
#contactos{
    display: none;
    min-height: 90vh;
}
#contactos div{
    overflow-x: auto;
}
@media screen and (max-width:610px) {
    #contactos div{
        width: 90%;
        margin: auto;
        overflow-x: auto;
    }
}
#contactos h2{
    margin: 1rem 3rem 2rem 3rem;
}

#contactos table {
    border-collapse: collapse;
    width: 91%;
    margin: auto ;
  }
  #contactos th {
    background-color: #027581;
    color: white;
  }
  
#contactos th, td {
    text-align: left;
    padding: 8px;
  }
  #contactos tr button {
    padding: 0.2rem;
    background-color: #048a99;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  #contactos tr button:hover {
    background-color: #07a4b6;
    color: #ffffff;
    
  }
  
#contactos tr:nth-child(even){background-color: #f2f2f2}

